.container {
  box-sizing: border-box;
}

.container .start-quiz {
  display: block;
  background-color: #032d59;
  color: #fff;
  margin: 200px auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.question-card {
  width: 30rem;
  background-color: #b0a8b9;
  margin: 200px auto;
  text-align: center;
  padding: 4rem;
}

.question-card button {
  background-color: #0c2036;
  color: #fff;
  padding: 1rem 3rem;
  margin-top: 3rem;
  border: none;
}
.quiz-answer {
  margin: auto;
  text-align: center;
  padding: 1rem;
}

.quiz-answer:hover {
  background-color: #202122;
  color: #fff;
  border-radius: 1rem;
}

.correct-answer {
  border: 2px solid green;
}

.incorrect-answer {
  border: 2px solid rgb(201, 64, 14);
}

.disabled-answer {
  pointer-events: none;
}

.result {
  margin: 200px auto;
  text-align: center;
}
.result button {
  background-color: #000000af;
  color: #fff;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}
